USE [mdb_data]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_DBPROPERTIES_PERFORMUPDATES_COMPLETED]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[DBProperties] DROP CONSTRAINT [DF_DBPROPERTIES_PERFORMUPDATES_COMPLETED]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DBProperties]') AND type in (N'U'))
DROP TABLE [dbo].[DBProperties]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[MASTER]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MASTEREDINCTS]') AND type in (N'U'))
DROP TABLE [dbo].[MASTEREDINCTS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MASTEREDINCTS2]') AND type in (N'U'))
DROP TABLE [dbo].[MASTEREDINCTS2]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MASTEREDINCTSIE44]') AND type in (N'U'))
DROP TABLE [dbo].[MASTEREDINCTSIE44]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MASTERNCTS]') AND type in (N'U'))
DROP TABLE [dbo].[MASTERNCTS]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_MASTERPLDA_EP]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MASTERPLDA] DROP CONSTRAINT [DF_MASTERPLDA_EP]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MASTERPLDA]') AND type in (N'U'))
DROP TABLE [dbo].[MASTERPLDA]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OUTBOX]') AND type in (N'U'))
DROP TABLE [dbo].[OUTBOX]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REMARKS]') AND type in (N'U'))
DROP TABLE [dbo].[REMARKS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEMPLATETREELINKS]') AND type in (N'U'))
DROP TABLE [dbo].[TEMPLATETREELINKS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEMPLATETREELINKS2003]') AND type in (N'U'))
DROP TABLE [dbo].[TEMPLATETREELINKS2003]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_USERDEFINEDTEMPLATES_CHECK]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[USERDEFINEDTEMPLATES] DROP CONSTRAINT [DF_USERDEFINEDTEMPLATES_CHECK]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USERDEFINEDTEMPLATES]') AND type in (N'U'))
DROP TABLE [dbo].[USERDEFINEDTEMPLATES]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USERDEFINEDTEMPLATES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[USERDEFINEDTEMPLATES](
	[USERDEF_ID] [int] NOT NULL,
	[USERDEF_CODE] [nvarchar](30) NULL,
	[USERDEF_DTYPE] [nvarchar](30) NULL,
	[USERDEF_CHECK] [bit] NOT NULL CONSTRAINT [DF_USERDEFINEDTEMPLATES_CHECK]  DEFAULT ((0))
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEMPLATETREELINKS2003]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TEMPLATETREELINKS2003](
	[TREE ID] [nvarchar](50) NULL,
	[Node_ID1] [int] NULL,
	[Node_ID2] [int] NULL,
	[TreeLink_ID] [int] NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEMPLATETREELINKS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TEMPLATETREELINKS](
	[TreeLink_ID] [int] NOT NULL,
	[TREE ID] [nvarchar](50) NULL,
	[Node_ID1] [int] NULL,
	[Node_ID2] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REMARKS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[REMARKS](
	[REMARKS] [nvarchar](30) NULL,
	[RESOURCE CODE] [smallint] NULL,
	[remarks code] [nvarchar](50) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OUTBOX]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OUTBOX](
	[CODE] [nvarchar](30) NULL,
	[DTYPE] [tinyint] NULL,
	[DOCUMENT NAME] [nvarchar](40) NULL,
	[DATE REQUESTED] [datetime] NULL,
	[LOGID DESCRIPTION] [nvarchar](40) NULL,
	[REMARKS] [nvarchar](50) NULL,
	[DOC NUMBER] [nvarchar](35) NULL,
	[DOC TYPE] [nvarchar](3) NULL,
	[Type] [nvarchar](1) NULL,
	[COMM] [nvarchar](1) NULL,
	[LOGID] [nvarchar](4) NULL,
	[Tree ID] [nvarchar](50) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MASTERPLDA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MASTERPLDA](
	[CODE] [nvarchar](30) NULL,
	[DTYPE] [tinyint] NULL,
	[DOCUMENT NAME] [nvarchar](40) NULL,
	[DATE CREATED] [datetime] NULL,
	[DATE LAST MODIFIED] [datetime] NULL,
	[DATE REQUESTED] [datetime] NULL,
	[DATE SEND] [datetime] NULL,
	[LAST MODIFIED BY] [nvarchar](25) NULL,
	[LOGID DESCRIPTION] [nvarchar](40) NULL,
	[REMARKS] [nvarchar](50) NULL,
	[USER NO] [int] NULL,
	[A1] [nvarchar](2) NULL,
	[A2] [nvarchar](1) NULL,
	[A3] [nvarchar](22) NULL,
	[A4] [nvarchar](10) NULL,
	[A5] [nvarchar](35) NULL,
	[A6] [nvarchar](36) NULL,
	[A7] [nvarchar](35) NULL,
	[A8] [nvarchar](5) NULL,
	[A9] [nvarchar](2) NULL,
	[AA] [nvarchar](35) NULL,
	[AB] [nvarchar](35) NULL,
	[AC] [nvarchar](35) NULL,
	[XE] [nvarchar](1) NULL,
	[X1] [nvarchar](35) NULL,
	[XD] [nvarchar](4) NULL,
	[XF] [nvarchar](1) NULL,
	[X8] [nvarchar](2) NULL,
	[X2] [nvarchar](70) NULL,
	[X3] [nvarchar](35) NULL,
	[X4] [nvarchar](35) NULL,
	[X5] [nvarchar](10) NULL,
	[X6] [nvarchar](35) NULL,
	[X7] [nvarchar](9) NULL,
	[X9] [nvarchar](35) NULL,
	[XA] [nvarchar](15) NULL,
	[XB] [nvarchar](15) NULL,
	[XC] [nvarchar](70) NULL,
	[B1] [nvarchar](1) NULL,
	[B2] [nvarchar](1) NULL,
	[B4] [nvarchar](35) NULL,
	[B5] [nvarchar](16) NULL,
	[B6] [nvarchar](16) NULL,
	[C1] [nvarchar](70) NULL,
	[C2] [nvarchar](3) NULL,
	[C3] [nvarchar](35) NULL,
	[C4] [nvarchar](19) NULL,
	[C5] [nvarchar](3) NULL,
	[C6] [nvarchar](12) NULL,
	[C7] [nvarchar](2) NULL,
	[C9] [nvarchar](19) NULL,
	[CA] [nvarchar](3) NULL,
	[CB] [nvarchar](12) NULL,
	[D1] [nvarchar](19) NULL,
	[D2] [nvarchar](19) NULL,
	[D3] [nvarchar](6) NULL,
	[D4] [nvarchar](35) NULL,
	[D5] [nvarchar](35) NULL,
	[D6] [nvarchar](35) NULL,
	[D7] [nvarchar](2) NULL,
	[D8] [nvarchar](3) NULL,
	[D9] [nvarchar](3) NULL,
	[DA] [nvarchar](2) NULL,
	[E1] [nvarchar](35) NULL,
	[E2] [nvarchar](2) NULL,
	[E3] [nvarchar](1) NULL,
	[L1] [nvarchar](10) NULL,
	[L2] [nvarchar](4) NULL,
	[L3] [nvarchar](4) NULL,
	[L4] [nvarchar](4) NULL,
	[L5] [nvarchar](4) NULL,
	[L6] [nvarchar](4) NULL,
	[L7] [nvarchar](6) NULL,
	[L9] [nvarchar](19) NULL,
	[LA] [nvarchar](19) NULL,
	[M1] [nvarchar](8) NULL,
	[M2] [nvarchar](19) NULL,
	[M3] [nvarchar](1) NULL,
	[M4] [nvarchar](14) NULL,
	[M5] [nvarchar](2) NULL,
	[O1] [nvarchar](1) NULL,
	[O2] [nvarchar](19) NULL,
	[O3] [nvarchar](3) NULL,
	[O4] [nvarchar](35) NULL,
	[O5] [nvarchar](19) NULL,
	[O6] [nvarchar](3) NULL,
	[O7] [nvarchar](19) NULL,
	[O8] [nvarchar](3) NULL,
	[O9] [nvarchar](19) NULL,
	[OA] [nvarchar](3) NULL,
	[OB] [nvarchar](12) NULL,
	[OC] [nvarchar](12) NULL,
	[OD] [nvarchar](12) NULL,
	[N1] [nvarchar](2) NULL,
	[N2] [nvarchar](2) NULL,
	[N3] [nvarchar](3) NULL,
	[N4] [nvarchar](1) NULL,
	[N5] [nvarchar](3) NULL,
	[N7] [nvarchar](2) NULL,
	[N8] [nvarchar](1) NULL,
	[N9] [nvarchar](2) NULL,
	[NB] [nvarchar](2) NULL,
	[NC] [nvarchar](1) NULL,
	[ND] [nvarchar](3) NULL,
	[NE] [nvarchar](3) NULL,
	[NF] [nvarchar](3) NULL,
	[NG] [nvarchar](3) NULL,
	[NH] [nvarchar](3) NULL,
	[VE] [nvarchar](1) NULL,
	[V1] [nvarchar](35) NULL,
	[V2] [nvarchar](70) NULL,
	[V3] [nvarchar](35) NULL,
	[V4] [nvarchar](35) NULL,
	[V5] [nvarchar](10) NULL,
	[V6] [nvarchar](35) NULL,
	[V7] [nvarchar](9) NULL,
	[V8] [nvarchar](2) NULL,
	[S1] [nvarchar](2) NULL,
	[S2] [nvarchar](8) NULL,
	[S3] [nvarchar](105) NULL,
	[S4] [nvarchar](17) NULL,
	[S5] [nvarchar](17) NULL,
	[S6] [nvarchar](1) NULL,
	[P1] [nvarchar](17) NULL,
	[P5] [nvarchar](1) NULL,
	[Q1] [nvarchar](4) NULL,
	[Q2] [nvarchar](35) NULL,
	[Q3] [nvarchar](8) NULL,
	[Q4] [nvarchar](35) NULL,
	[Q5] [nvarchar](2) NULL,
	[Q7] [nvarchar](35) NULL,
	[Q8] [nvarchar](35) NULL,
	[Q9] [nvarchar](70) NULL,
	[QA] [nvarchar](1) NULL,
	[QB] [nvarchar](4) NULL,
	[QC] [nvarchar](22) NULL,
	[R1] [nvarchar](1) NULL,
	[R3] [nvarchar](8) NULL,
	[R5] [nvarchar](35) NULL,
	[R6] [nvarchar](45) NULL,
	[R9] [nvarchar](11) NULL,
	[T1] [nvarchar](255) NULL,
	[T2] [nvarchar](1) NULL,
	[T3] [nvarchar](5) NULL,
	[T4] [nvarchar](70) NULL,
	[T5] [nvarchar](8) NULL,
	[T6] [nvarchar](35) NULL,
	[T7] [nvarchar](4) NULL,
	[T8] [nvarchar](19) NULL,
	[T9] [nvarchar](1) NULL,
	[TZ] [nvarchar](1) NULL,
	[U1] [nvarchar](3) NULL,
	[U2] [nvarchar](19) NULL,
	[U3] [nvarchar](1) NULL,
	[ACCT WEEK] [nvarchar](4) NULL,
	[ADDITIONAL COST] [nvarchar](50) NULL,
	[BASIS FOR VAT] [nvarchar](14) NULL,
	[CUSTOMS OFFICE] [nvarchar](36) NULL,
	[CUSTOMS VALUE] [nvarchar](14) NULL,
	[DOC NUMBER] [nvarchar](35) NULL,
	[DOC TYPE] [nvarchar](3) NULL,
	[Error String] [nvarchar](max) NULL,
	[Error HD] [nvarchar](10) NULL,
	[TYPE] [nvarchar](1) NULL,
	[COMM] [nvarchar](1) NULL,
	[LOGID] [nvarchar](4) NULL,
	[PRINT] [nvarchar](1) NULL,
	[VIEWED] [tinyint] NULL,
	[USERNAME] [nvarchar](25) NULL,
	[HEADER] [smallint] NULL,
	[Memo Field] [nvarchar](max) NULL,
	[DATE PRINTED] [datetime] NULL,
	[PRINTED BY] [nvarchar](25) NULL,
	[MRN] [nvarchar](18) NULL,
	[REMOTE_ID] [int] NULL,
	[Mail_Recipients] [nvarchar](max) NULL,
	[LC] [nvarchar](35) NULL,
	[XG] [nvarchar](35) NULL,
	[XH] [nvarchar](18) NULL,
	[VG] [nvarchar](35) NULL,
	[VH] [nvarchar](18) NULL,
	[AD] [nvarchar](5) NULL,
	[AE] [nvarchar](35) NULL,
	[AF] [nvarchar](35) NULL,
	[AH] [nvarchar](35) NULL,
	[AI] [nvarchar](35) NULL,
	[AL] [nvarchar](8) NULL,
	[AM] [nvarchar](10) NULL,
	[AN] [nvarchar](2) NULL,
	[DC] [nvarchar](17) NULL,
	[DD] [nvarchar](17) NULL,
	[DE] [nvarchar](17) NULL,
	[DF] [nvarchar](2) NULL,
	[DG] [nvarchar](17) NULL,
	[E4] [nvarchar](1) NULL,
	[E5] [nvarchar](4) NULL,
	[E6] [nvarchar](35) NULL,
	[E7] [nvarchar](35) NULL,
	[E8] [nvarchar](7) NULL,
	[E9] [nvarchar](2) NULL,
	[EA] [nvarchar](2) NULL,
	[EB] [nvarchar](2) NULL,
	[EC] [nvarchar](2) NULL,
	[ED] [nvarchar](2) NULL,
	[EE] [nvarchar](2) NULL,
	[EF] [nvarchar](1) NULL,
	[SB] [nvarchar](2) NULL,
	[SC] [nvarchar](5) NULL,
	[SD] [nvarchar](4) NULL,
	[SE] [nvarchar](1) NULL,
	[P3] [nvarchar](2) NULL,
	[P4] [nvarchar](2) NULL,
	[AG] [nvarchar](1) NULL,
	[AJ] [nvarchar](2) NULL,
	[AK] [nvarchar](2) NULL,
	[Master_DeleteSourceTreeID] [nvarchar](50) NULL,
	[Tree ID] [nvarchar](50) NULL,
	[Origin] [nvarchar](50) NULL,
	[EP] [bit] NOT NULL CONSTRAINT [DF_MASTERPLDA_EP]  DEFAULT ((0)),
	[Consignee Venture Number] [nvarchar](35) NULL,
	[L8] [nvarchar](max) NULL,
	[P2] [nvarchar](max) NULL,
	[R8] [nvarchar](70) NULL,
	[Declarant Venture Number] [nvarchar](35) NULL,
	[Intracom Venture Number] [nvarchar](35) NULL,
	[Representative Venture Number] [nvarchar](35) NULL,
	[Beneficiary Venture Number] [nvarchar](35) NULL,
	[Consignor Venture Number] [nvarchar](35) NULL,
	[Warehouse Depositor Venture Number] [nvarchar](35) NULL,
	[AO] [nvarchar](1) NULL,
	[SF] [nvarchar](5) NULL,
	[Master_CorrID] [nvarchar](25) NULL,
	[Date Last Received] [datetime] NULL,
	[H1] [nvarchar](8) NULL,
	[H2] [nvarchar](8) NULL,
	[H3] [nvarchar](2) NULL,
	[U4] [nvarchar](10) NULL,
	[R2] [nvarchar](6) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MASTERNCTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MASTERNCTS](
	[CODE] [nvarchar](30) NULL,
	[DTYPE] [tinyint] NULL,
	[DOCUMENT NAME] [nvarchar](40) NULL,
	[DATE CREATED] [datetime] NULL,
	[DATE LAST MODIFIED] [datetime] NULL,
	[DATE REQUESTED] [datetime] NULL,
	[DATE SEND] [datetime] NULL,
	[LAST MODIFIED BY] [nvarchar](25) NULL,
	[LOGID DESCRIPTION] [nvarchar](40) NULL,
	[REMARKS] [nvarchar](50) NULL,
	[USER NO] [int] NULL,
	[A1] [nvarchar](4) NULL,
	[A2] [nvarchar](7) NULL,
	[A4] [nvarchar](8) NULL,
	[A5] [nvarchar](1) NULL,
	[A6] [nvarchar](3) NULL,
	[A7] [nvarchar](3) NULL,
	[A8] [nvarchar](5) NULL,
	[A9] [nvarchar](15) NULL,
	[AA] [nvarchar](1) NULL,
	[AB] [nvarchar](17) NULL,
	[AC] [nvarchar](2) NULL,
	[AD] [nvarchar](8) NULL,
	[AE] [nvarchar](20) NULL,
	[AF] [nvarchar](20) NULL,
	[B1] [nvarchar](26) NULL,
	[B2] [nvarchar](26) NULL,
	[B3] [nvarchar](2) NULL,
	[B4] [nvarchar](21) NULL,
	[B5] [nvarchar](4) NULL,
	[B6] [nvarchar](1) NULL,
	[B7] [nvarchar](3) NULL,
	[B8] [nvarchar](3) NULL,
	[B9] [nvarchar](2) NULL,
	[BA] [nvarchar](22) NULL,
	[C1] [nvarchar](3) NULL,
	[C2] [nvarchar](3) NULL,
	[C3] [nvarchar](11) NULL,
	[C4] [nvarchar](6) NULL,
	[C5] [nvarchar](5) NULL,
	[D1] [nvarchar](7) NULL,
	[D2] [nvarchar](13) NULL,
	[D3] [nvarchar](2) NULL,
	[D4] [nvarchar](1) NULL,
	[D5] [nvarchar](2) NULL,
	[D6] [nvarchar](150) NULL,
	[D7] [nvarchar](150) NULL,
	[X1] [nvarchar](32) NULL,
	[X2] [nvarchar](24) NULL,
	[X3] [nvarchar](35) NULL,
	[X4] [nvarchar](17) NULL,
	[X5] [nvarchar](3) NULL,
	[X6] [nvarchar](9) NULL,
	[X7] [nvarchar](35) NULL,
	[X8] [nvarchar](35) NULL,
	[E1] [nvarchar](1) NULL,
	[E3] [nvarchar](35) NULL,
	[E4] [nvarchar](3) NULL,
	[E5] [nvarchar](3) NULL,
	[E6] [nvarchar](3) NULL,
	[E7] [nvarchar](3) NULL,
	[E8] [nvarchar](8) NULL,
	[EA] [nvarchar](8) NULL,
	[EC] [nvarchar](8) NULL,
	[EE] [nvarchar](8) NULL,
	[EG] [nvarchar](8) NULL,
	[EI] [nvarchar](8) NULL,
	[EJ] [nvarchar](1) NULL,
	[EK] [nvarchar](4) NULL,
	[EM] [nvarchar](3) NULL,
	[EN] [nvarchar](3) NULL,
	[EO] [nvarchar](1) NULL,
	[F1] [nvarchar](5) NULL,
	[F2] [nvarchar](5) NULL,
	[F3] [nvarchar](5) NULL,
	[G1] [nvarchar](7) NULL,
	[G2] [nvarchar](7) NULL,
	[G3] [nvarchar](7) NULL,
	[H1] [nvarchar](6) NULL,
	[H2] [nvarchar](6) NULL,
	[H3] [nvarchar](6) NULL,
	[J1] [nvarchar](12) NULL,
	[J2] [nvarchar](12) NULL,
	[J3] [nvarchar](12) NULL,
	[K1] [nvarchar](2) NULL,
	[K2] [nvarchar](6) NULL,
	[K3] [nvarchar](2) NULL,
	[K4] [nvarchar](6) NULL,
	[K5] [nvarchar](2) NULL,
	[K6] [nvarchar](6) NULL,
	[U2] [nvarchar](32) NULL,
	[U3] [nvarchar](24) NULL,
	[U4] [nvarchar](9) NULL,
	[U5] [nvarchar](6) NULL,
	[U6] [nvarchar](17) NULL,
	[U7] [nvarchar](3) NULL,
	[U8] [nvarchar](35) NULL,
	[W1] [nvarchar](32) NULL,
	[W2] [nvarchar](24) NULL,
	[W3] [nvarchar](35) NULL,
	[W4] [nvarchar](9) NULL,
	[W5] [nvarchar](3) NULL,
	[W6] [nvarchar](17) NULL,
	[W7] [nvarchar](1) NULL,
	[L1] [nvarchar](10) NULL,
	[L2] [nvarchar](13) NULL,
	[L3] [nvarchar](12) NULL,
	[L4] [nvarchar](3) NULL,
	[L5] [nvarchar](4) NULL,
	[L6] [nvarchar](17) NULL,
	[L7] [nvarchar](3) NULL,
	[L8] [nvarchar](3) NULL,
	[M1] [nvarchar](15) NULL,
	[M2] [nvarchar](12) NULL,
	[M3] [nvarchar](2) NULL,
	[M4] [nvarchar](12) NULL,
	[M5] [nvarchar](12) NULL,
	[M6] [nvarchar](13) NULL,
	[M7] [nvarchar](6) NULL,
	[M8] [nvarchar](12) NULL,
	[M9] [nvarchar](3) NULL,
	[N1] [nvarchar](5) NULL,
	[N2] [nvarchar](5) NULL,
	[N3] [nvarchar](5) NULL,
	[O1] [nvarchar](7) NULL,
	[O2] [nvarchar](7) NULL,
	[O3] [nvarchar](7) NULL,
	[P1] [nvarchar](6) NULL,
	[P2] [nvarchar](6) NULL,
	[P3] [nvarchar](6) NULL,
	[Q1] [nvarchar](12) NULL,
	[Q2] [nvarchar](12) NULL,
	[Q3] [nvarchar](12) NULL,
	[R1] [nvarchar](2) NULL,
	[R2] [nvarchar](6) NULL,
	[R3] [nvarchar](2) NULL,
	[R4] [nvarchar](6) NULL,
	[R5] [nvarchar](2) NULL,
	[R6] [nvarchar](6) NULL,
	[R7] [nvarchar](2) NULL,
	[R8] [nvarchar](6) NULL,
	[R9] [nvarchar](2) NULL,
	[RA] [nvarchar](6) NULL,
	[S1] [nvarchar](78) NULL,
	[S2] [nvarchar](39) NULL,
	[S3] [nvarchar](6) NULL,
	[S4] [nvarchar](2) NULL,
	[S5] [nvarchar](1) NULL,
	[S6] [nvarchar](11) NULL,
	[S7] [nvarchar](11) NULL,
	[S8] [nvarchar](11) NULL,
	[S9] [nvarchar](11) NULL,
	[SA] [nvarchar](11) NULL,
	[SB] [nvarchar](1) NULL,
	[V1] [nvarchar](2) NULL,
	[V2] [nvarchar](15) NULL,
	[V3] [nvarchar](2) NULL,
	[V4] [nvarchar](15) NULL,
	[V5] [nvarchar](2) NULL,
	[V6] [nvarchar](15) NULL,
	[V7] [nvarchar](2) NULL,
	[V8] [nvarchar](15) NULL,
	[Y1] [nvarchar](1) NULL,
	[Y2] [nvarchar](5) NULL,
	[Y3] [nvarchar](20) NULL,
	[Y4] [nvarchar](26) NULL,
	[Y5] [nvarchar](1) NULL,
	[Z1] [nvarchar](3) NULL,
	[Z2] [nvarchar](3) NULL,
	[Z3] [nvarchar](70) NULL,
	[Z4] [nvarchar](1) NULL,
	[T1] [nvarchar](5) NULL,
	[T2] [nvarchar](6) NULL,
	[T3] [nvarchar](7) NULL,
	[T4] [nvarchar](19) NULL,
	[T5] [nvarchar](4) NULL,
	[T6] [nvarchar](22) NULL,
	[T7] [nvarchar](1) NULL,
	[ACCT WEEK] [nvarchar](4) NULL,
	[ADDITIONAL COST] [nvarchar](50) NULL,
	[BASIS FOR VAT] [nvarchar](14) NULL,
	[CUSTOMS OFFICE] [nvarchar](2) NULL,
	[CUSTOMS VALUE] [nvarchar](14) NULL,
	[DOC NUMBER] [nvarchar](35) NULL,
	[DOC TYPE] [nvarchar](3) NULL,
	[Error String] [nvarchar](max) NULL,
	[Error HD] [nvarchar](10) NULL,
	[DUTIES TAXES P1] [nvarchar](17) NULL,
	[DUTIES TAXES P2] [nvarchar](17) NULL,
	[DUTIES TAXES P3] [nvarchar](17) NULL,
	[DUTIES TAXES P4] [nvarchar](17) NULL,
	[DUTIES TAXES P5] [nvarchar](17) NULL,
	[DUTIES TAXES P6] [nvarchar](17) NULL,
	[DUTIES TAXES P7] [nvarchar](17) NULL,
	[DUTIES TAXES P8] [nvarchar](14) NULL,
	[DUTIES TAXES B1] [nvarchar](50) NULL,
	[DUTIES TAXES B2] [nvarchar](50) NULL,
	[DUTIES TAXES B3] [nvarchar](50) NULL,
	[DUTIES TAXES B4] [nvarchar](50) NULL,
	[DUTIES TAXES B5] [nvarchar](50) NULL,
	[DUTIES TAXES B6] [nvarchar](50) NULL,
	[DUTIES TAXES B7] [nvarchar](50) NULL,
	[DUTIES TAXES B8] [nvarchar](50) NULL,
	[Type] [nvarchar](1) NULL,
	[COMM] [nvarchar](1) NULL,
	[LOGID] [nvarchar](4) NULL,
	[PRINT] [nvarchar](1) NULL,
	[VIEWED] [tinyint] NULL,
	[USERNAME] [nvarchar](25) NULL,
	[HEADER] [smallint] NULL,
	[Code P1] [nvarchar](3) NULL,
	[Code P2] [nvarchar](3) NULL,
	[Code P3] [nvarchar](3) NULL,
	[Code P4] [nvarchar](3) NULL,
	[Code P5] [nvarchar](3) NULL,
	[Code P6] [nvarchar](3) NULL,
	[Code P7] [nvarchar](3) NULL,
	[Code P8] [nvarchar](3) NULL,
	[Code B1] [nvarchar](3) NULL,
	[Code B2] [nvarchar](3) NULL,
	[Code B3] [nvarchar](3) NULL,
	[Code B4] [nvarchar](3) NULL,
	[Code B5] [nvarchar](3) NULL,
	[Code B6] [nvarchar](3) NULL,
	[Code B7] [nvarchar](3) NULL,
	[Code B8] [nvarchar](3) NULL,
	[Memo Field] [nvarchar](max) NULL,
	[DATE PRINTED] [datetime] NULL,
	[PRINTED BY] [nvarchar](25) NULL,
	[MRN] [nvarchar](18) NULL,
	[REMOTE_ID] [int] NULL,
	[Mail_Recipients] [nvarchar](max) NULL,
	[Master_DeleteSourceTreeID] [nvarchar](50) NULL,
	[Tree ID] [nvarchar](50) NULL,
	[Origin] [nvarchar](50) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MASTEREDINCTSIE44]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MASTEREDINCTSIE44](
	[CODE] [nvarchar](30) NULL,
	[DTYPE] [tinyint] NULL,
	[DOCUMENT NAME] [nvarchar](40) NULL,
	[DATE CREATED] [datetime] NULL,
	[DATE LAST MODIFIED] [datetime] NULL,
	[DATE REQUESTED] [datetime] NULL,
	[DATE SEND] [datetime] NULL,
	[LAST MODIFIED BY] [nvarchar](25) NULL,
	[LOGID DESCRIPTION] [nvarchar](40) NULL,
	[REMARKS] [nvarchar](50) NULL,
	[USER NO] [int] NULL,
	[DOC NUMBER] [nvarchar](35) NULL,
	[DOC TYPE] [nvarchar](3) NULL,
	[Error String] [nvarchar](max) NULL,
	[Error HD] [nvarchar](10) NULL,
	[Type] [nvarchar](1) NULL,
	[COMM] [nvarchar](1) NULL,
	[LOGID] [nvarchar](4) NULL,
	[PRINT] [nvarchar](1) NULL,
	[VIEWED] [tinyint] NULL,
	[USERNAME] [nvarchar](25) NULL,
	[HEADER] [smallint] NULL,
	[Memo Field] [nvarchar](max) NULL,
	[DATE PRINTED] [datetime] NULL,
	[PRINTED BY] [nvarchar](25) NULL,
	[MR] [nvarchar](21) NULL,
	[BD] [nvarchar](8) NULL,
	[AJ] [nvarchar](2) NULL,
	[W8] [nvarchar](17) NULL,
	[W9] [nvarchar](35) NULL,
	[WA] [nvarchar](35) NULL,
	[WB] [nvarchar](35) NULL,
	[WD] [nvarchar](9) NULL,
	[T7] [nvarchar](1) NULL,
	[WE] [nvarchar](2) NULL,
	[SB] [nvarchar](1) NULL,
	[A9] [nvarchar](15) NULL,
	[AE] [nvarchar](20) NULL,
	[AF] [nvarchar](20) NULL,
	[B1] [nvarchar](26) NULL,
	[B7] [nvarchar](3) NULL,
	[L1] [nvarchar](10) NULL,
	[M1] [nvarchar](15) NULL,
	[M2] [nvarchar](12) NULL,
	[S1] [nvarchar](255) NULL,
	[S2] [nvarchar](42) NULL,
	[S3] [nvarchar](10) NULL,
	[S4] [nvarchar](2) NULL,
	[S5] [nvarchar](1) NULL,
	[S6] [nvarchar](11) NULL,
	[S7] [nvarchar](11) NULL,
	[S8] [nvarchar](11) NULL,
	[S9] [nvarchar](11) NULL,
	[SA] [nvarchar](11) NULL,
	[V1] [nvarchar](2) NULL,
	[V2] [nvarchar](15) NULL,
	[V3] [nvarchar](2) NULL,
	[V4] [nvarchar](15) NULL,
	[V5] [nvarchar](2) NULL,
	[V6] [nvarchar](15) NULL,
	[V7] [nvarchar](2) NULL,
	[V8] [nvarchar](15) NULL,
	[Y1] [nvarchar](1) NULL,
	[Y2] [nvarchar](5) NULL,
	[Y3] [nvarchar](20) NULL,
	[Y4] [nvarchar](26) NULL,
	[Y5] [nvarchar](1) NULL,
	[CC] [nvarchar](2) NULL,
	[CD] [nvarchar](140) NULL,
	[CE] [nvarchar](35) NULL,
	[CF] [nvarchar](15) NULL,
	[CG] [nvarchar](2) NULL,
	[CI] [nvarchar](140) NULL,
	[UA] [nvarchar](1) NULL,
	[UC] [nvarchar](8) NULL,
	[UD] [nvarchar](1) NULL,
	[UE] [nvarchar](max) NULL,
	[UF] [nvarchar](1) NULL,
	[CL] [nvarchar](1) NULL,
	[CH] [nvarchar](35) NULL,
	[DATE LAST RECEIVED] [datetime] NULL,
	[REMOTE_ID] [int] NULL,
	[Mail_Recipients] [nvarchar](max) NULL,
	[Master_DeleteSourceTreeID] [nvarchar](50) NULL,
	[Tree ID] [nvarchar](50) NULL,
	[Origin] [nvarchar](50) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MASTEREDINCTS2]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MASTEREDINCTS2](
	[CODE] [nvarchar](30) NULL,
	[DTYPE] [tinyint] NULL,
	[DOCUMENT NAME] [nvarchar](40) NULL,
	[DATE CREATED] [datetime] NULL,
	[DATE LAST MODIFIED] [datetime] NULL,
	[DATE REQUESTED] [datetime] NULL,
	[DATE SEND] [datetime] NULL,
	[LAST MODIFIED BY] [nvarchar](25) NULL,
	[LOGID DESCRIPTION] [nvarchar](40) NULL,
	[REMARKS] [nvarchar](50) NULL,
	[USER NO] [int] NULL,
	[DOC NUMBER] [nvarchar](35) NULL,
	[DOC TYPE] [nvarchar](3) NULL,
	[Error String] [nvarchar](max) NULL,
	[Error HD] [nvarchar](10) NULL,
	[Type] [nvarchar](1) NULL,
	[COMM] [nvarchar](1) NULL,
	[LOGID] [nvarchar](4) NULL,
	[PRINT] [nvarchar](1) NULL,
	[VIEWED] [tinyint] NULL,
	[USERNAME] [nvarchar](25) NULL,
	[HEADER] [smallint] NULL,
	[Memo Field] [nvarchar](max) NULL,
	[DATE PRINTED] [datetime] NULL,
	[PRINTED BY] [nvarchar](25) NULL,
	[MD] [nvarchar](6) NULL,
	[ME] [nvarchar](4) NULL,
	[MR] [nvarchar](21) NULL,
	[AH] [nvarchar](17) NULL,
	[AG] [nvarchar](35) NULL,
	[BD] [nvarchar](8) NULL,
	[BC] [nvarchar](35) NULL,
	[AI] [nvarchar](17) NULL,
	[MC] [nvarchar](8) NULL,
	[EP] [nvarchar](1) NULL,
	[AJ] [nvarchar](2) NULL,
	[BF] [nvarchar](35) NULL,
	[EQ] [nvarchar](27) NULL,
	[C7] [nvarchar](2) NULL,
	[ER] [nvarchar](1) NULL,
	[C8] [nvarchar](8) NULL,
	[C9] [nvarchar](35) NULL,
	[CA] [nvarchar](35) NULL,
	[CB] [nvarchar](2) NULL,
	[ES] [nvarchar](max) NULL,
	[AK] [nvarchar](4) NULL,
	[AL] [nvarchar](20) NULL,
	[AM] [nvarchar](20) NULL,
	[BG] [nvarchar](2) NULL,
	[BH] [nvarchar](8) NULL,
	[BI] [nvarchar](35) NULL,
	[BJ] [nvarchar](35) NULL,
	[BK] [nvarchar](2) NULL,
	[BL] [nvarchar](27) NULL,
	[SC] [nvarchar](17) NULL,
	[SD] [nvarchar](17) NULL,
	[SE] [nvarchar](17) NULL,
	[SF] [nvarchar](17) NULL,
	[SG] [nvarchar](17) NULL,
	[W8] [nvarchar](17) NULL,
	[W9] [nvarchar](35) NULL,
	[WA] [nvarchar](35) NULL,
	[WB] [nvarchar](35) NULL,
	[WC] [nvarchar](2) NULL,
	[WD] [nvarchar](9) NULL,
	[T7] [nvarchar](1) NULL,
	[WE] [nvarchar](2) NULL,
	[SB] [nvarchar](1) NULL,
	[DATE LAST RECEIVED] [datetime] NULL,
	[REMOTE_ID] [int] NULL,
	[Mail_Recipients] [nvarchar](max) NULL,
	[Master_DeleteSourceTreeID] [nvarchar](50) NULL,
	[Tree ID] [nvarchar](50) NULL,
	[Origin] [nvarchar](50) NULL,
	[ZA] [nvarchar](2) NULL,
	[ZB] [nvarchar](2) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MASTEREDINCTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MASTEREDINCTS](
	[CODE] [nvarchar](30) NULL,
	[DTYPE] [tinyint] NULL,
	[DOCUMENT NAME] [nvarchar](40) NULL,
	[DATE CREATED] [datetime] NULL,
	[DATE LAST MODIFIED] [datetime] NULL,
	[DATE REQUESTED] [datetime] NULL,
	[DATE SEND] [datetime] NULL,
	[LAST MODIFIED BY] [nvarchar](25) NULL,
	[LOGID DESCRIPTION] [nvarchar](40) NULL,
	[REMARKS] [nvarchar](50) NULL,
	[USER NO] [int] NULL,
	[A1] [nvarchar](4) NULL,
	[A2] [nvarchar](7) NULL,
	[A4] [nvarchar](8) NULL,
	[A6] [nvarchar](3) NULL,
	[A7] [nvarchar](3) NULL,
	[A8] [nvarchar](5) NULL,
	[A9] [nvarchar](15) NULL,
	[AA] [nvarchar](1) NULL,
	[AB] [nvarchar](17) NULL,
	[AC] [nvarchar](2) NULL,
	[AD] [nvarchar](8) NULL,
	[AE] [nvarchar](20) NULL,
	[AF] [nvarchar](20) NULL,
	[B2] [nvarchar](26) NULL,
	[B3] [nvarchar](4) NULL,
	[B4] [nvarchar](21) NULL,
	[B5] [nvarchar](4) NULL,
	[B6] [nvarchar](1) NULL,
	[B7] [nvarchar](3) NULL,
	[B8] [nvarchar](3) NULL,
	[B9] [nvarchar](2) NULL,
	[BA] [nvarchar](22) NULL,
	[C1] [nvarchar](3) NULL,
	[C2] [nvarchar](3) NULL,
	[C3] [nvarchar](10) NULL,
	[C4] [nvarchar](6) NULL,
	[C5] [nvarchar](5) NULL,
	[D1] [nvarchar](7) NULL,
	[D2] [nvarchar](13) NULL,
	[D3] [nvarchar](2) NULL,
	[D4] [nvarchar](1) NULL,
	[D5] [nvarchar](2) NULL,
	[D6] [nvarchar](150) NULL,
	[D7] [nvarchar](150) NULL,
	[X1] [nvarchar](32) NULL,
	[X2] [nvarchar](24) NULL,
	[X3] [nvarchar](35) NULL,
	[X4] [nvarchar](17) NULL,
	[X5] [nvarchar](3) NULL,
	[X6] [nvarchar](9) NULL,
	[X7] [nvarchar](35) NULL,
	[X8] [nvarchar](35) NULL,
	[E1] [nvarchar](1) NULL,
	[E3] [nvarchar](35) NULL,
	[E4] [nvarchar](3) NULL,
	[E5] [nvarchar](3) NULL,
	[E6] [nvarchar](3) NULL,
	[E7] [nvarchar](3) NULL,
	[E8] [nvarchar](8) NULL,
	[EA] [nvarchar](8) NULL,
	[EC] [nvarchar](8) NULL,
	[EE] [nvarchar](8) NULL,
	[EG] [nvarchar](8) NULL,
	[EI] [nvarchar](8) NULL,
	[EJ] [nvarchar](1) NULL,
	[EK] [nvarchar](4) NULL,
	[EM] [nvarchar](3) NULL,
	[EN] [nvarchar](3) NULL,
	[EO] [nvarchar](1) NULL,
	[F1] [nvarchar](5) NULL,
	[F2] [nvarchar](5) NULL,
	[F3] [nvarchar](5) NULL,
	[G1] [nvarchar](7) NULL,
	[G2] [nvarchar](7) NULL,
	[G3] [nvarchar](7) NULL,
	[H1] [nvarchar](6) NULL,
	[H2] [nvarchar](6) NULL,
	[H3] [nvarchar](6) NULL,
	[J1] [nvarchar](12) NULL,
	[J2] [nvarchar](12) NULL,
	[J3] [nvarchar](12) NULL,
	[K1] [nvarchar](2) NULL,
	[K2] [nvarchar](6) NULL,
	[K3] [nvarchar](2) NULL,
	[K4] [nvarchar](6) NULL,
	[K5] [nvarchar](2) NULL,
	[K6] [nvarchar](6) NULL,
	[U2] [nvarchar](32) NULL,
	[U3] [nvarchar](24) NULL,
	[U4] [nvarchar](9) NULL,
	[U5] [nvarchar](6) NULL,
	[U6] [nvarchar](17) NULL,
	[U7] [nvarchar](3) NULL,
	[U8] [nvarchar](35) NULL,
	[W1] [nvarchar](32) NULL,
	[W2] [nvarchar](24) NULL,
	[W3] [nvarchar](35) NULL,
	[W4] [nvarchar](9) NULL,
	[W5] [nvarchar](3) NULL,
	[W6] [nvarchar](17) NULL,
	[W7] [nvarchar](1) NULL,
	[L1] [nvarchar](10) NULL,
	[L2] [nvarchar](13) NULL,
	[L3] [nvarchar](12) NULL,
	[L4] [nvarchar](3) NULL,
	[L5] [nvarchar](4) NULL,
	[L6] [nvarchar](17) NULL,
	[L7] [nvarchar](9) NULL,
	[L8] [nvarchar](3) NULL,
	[M1] [nvarchar](15) NULL,
	[M2] [nvarchar](12) NULL,
	[M3] [nvarchar](2) NULL,
	[M4] [nvarchar](12) NULL,
	[M5] [nvarchar](12) NULL,
	[M6] [nvarchar](13) NULL,
	[M7] [nvarchar](6) NULL,
	[M8] [nvarchar](12) NULL,
	[M9] [nvarchar](3) NULL,
	[N1] [nvarchar](5) NULL,
	[N2] [nvarchar](5) NULL,
	[N3] [nvarchar](5) NULL,
	[O1] [nvarchar](7) NULL,
	[O2] [nvarchar](7) NULL,
	[O3] [nvarchar](7) NULL,
	[P1] [nvarchar](6) NULL,
	[P2] [nvarchar](6) NULL,
	[P3] [nvarchar](6) NULL,
	[Q1] [nvarchar](12) NULL,
	[Q2] [nvarchar](12) NULL,
	[Q3] [nvarchar](12) NULL,
	[R1] [nvarchar](2) NULL,
	[R2] [nvarchar](6) NULL,
	[R3] [nvarchar](2) NULL,
	[R4] [nvarchar](6) NULL,
	[R5] [nvarchar](2) NULL,
	[R6] [nvarchar](6) NULL,
	[R7] [nvarchar](2) NULL,
	[R8] [nvarchar](6) NULL,
	[R9] [nvarchar](2) NULL,
	[RA] [nvarchar](6) NULL,
	[S1] [nvarchar](255) NULL,
	[S2] [nvarchar](42) NULL,
	[S4] [nvarchar](2) NULL,
	[S5] [nvarchar](1) NULL,
	[S6] [nvarchar](11) NULL,
	[S7] [nvarchar](11) NULL,
	[S8] [nvarchar](11) NULL,
	[S9] [nvarchar](11) NULL,
	[SA] [nvarchar](11) NULL,
	[SB] [nvarchar](1) NULL,
	[V1] [nvarchar](2) NULL,
	[V2] [nvarchar](15) NULL,
	[V3] [nvarchar](2) NULL,
	[V4] [nvarchar](15) NULL,
	[V5] [nvarchar](2) NULL,
	[V6] [nvarchar](15) NULL,
	[V7] [nvarchar](2) NULL,
	[V8] [nvarchar](15) NULL,
	[Y1] [nvarchar](1) NULL,
	[Y2] [nvarchar](5) NULL,
	[Y3] [nvarchar](20) NULL,
	[Y4] [nvarchar](26) NULL,
	[Y5] [nvarchar](1) NULL,
	[Z1] [nvarchar](3) NULL,
	[Z2] [nvarchar](3) NULL,
	[Z3] [nvarchar](70) NULL,
	[Z4] [nvarchar](1) NULL,
	[T1] [nvarchar](5) NULL,
	[T2] [nvarchar](6) NULL,
	[T3] [nvarchar](7) NULL,
	[T4] [nvarchar](19) NULL,
	[T5] [nvarchar](4) NULL,
	[T6] [nvarchar](22) NULL,
	[T7] [nvarchar](1) NULL,
	[ACCT WEEK] [nvarchar](4) NULL,
	[ADDITIONAL COST] [nvarchar](50) NULL,
	[BASIS FOR VAT] [nvarchar](14) NULL,
	[CUSTOMS OFFICE] [nvarchar](2) NULL,
	[CUSTOMS VALUE] [nvarchar](14) NULL,
	[DOC NUMBER] [nvarchar](35) NULL,
	[DOC TYPE] [nvarchar](3) NULL,
	[Error String] [nvarchar](max) NULL,
	[Error HD] [nvarchar](10) NULL,
	[DUTIES TAXES P1] [nvarchar](17) NULL,
	[DUTIES TAXES P2] [nvarchar](17) NULL,
	[DUTIES TAXES P3] [nvarchar](17) NULL,
	[DUTIES TAXES P4] [nvarchar](17) NULL,
	[DUTIES TAXES P5] [nvarchar](17) NULL,
	[DUTIES TAXES P6] [nvarchar](17) NULL,
	[DUTIES TAXES P7] [nvarchar](17) NULL,
	[DUTIES TAXES P8] [nvarchar](14) NULL,
	[DUTIES TAXES B1] [nvarchar](50) NULL,
	[DUTIES TAXES B2] [nvarchar](50) NULL,
	[DUTIES TAXES B3] [nvarchar](50) NULL,
	[DUTIES TAXES B4] [nvarchar](50) NULL,
	[DUTIES TAXES B5] [nvarchar](50) NULL,
	[DUTIES TAXES B6] [nvarchar](50) NULL,
	[DUTIES TAXES B7] [nvarchar](50) NULL,
	[DUTIES TAXES B8] [nvarchar](50) NULL,
	[Type] [nvarchar](1) NULL,
	[COMM] [nvarchar](1) NULL,
	[LOGID] [nvarchar](4) NULL,
	[PRINT] [nvarchar](1) NULL,
	[VIEWED] [tinyint] NULL,
	[USERNAME] [nvarchar](25) NULL,
	[HEADER] [smallint] NULL,
	[Code P1] [nvarchar](3) NULL,
	[Code P2] [nvarchar](3) NULL,
	[Code P3] [nvarchar](3) NULL,
	[Code P4] [nvarchar](3) NULL,
	[Code P5] [nvarchar](3) NULL,
	[Code P6] [nvarchar](3) NULL,
	[Code P7] [nvarchar](3) NULL,
	[Code P8] [nvarchar](3) NULL,
	[Code B1] [nvarchar](3) NULL,
	[Code B2] [nvarchar](3) NULL,
	[Code B3] [nvarchar](3) NULL,
	[Code B4] [nvarchar](3) NULL,
	[Code B5] [nvarchar](3) NULL,
	[Code B6] [nvarchar](3) NULL,
	[Code B7] [nvarchar](3) NULL,
	[Code B8] [nvarchar](3) NULL,
	[Memo Field] [nvarchar](max) NULL,
	[DATE PRINTED] [datetime] NULL,
	[PRINTED BY] [nvarchar](25) NULL,
	[MRN] [nvarchar](25) NULL,
	[DATE LAST RECEIVED] [datetime] NULL,
	[REMOTE_ID] [int] NULL,
	[Mail_Recipients] [nvarchar](max) NULL,
	[Master_DeleteSourceTreeID] [nvarchar](50) NULL,
	[Tree ID] [nvarchar](50) NULL,
	[Origin] [nvarchar](50) NULL,
	[A5] [nvarchar](2) NULL,
	[B1] [nvarchar](27) NULL,
	[S3] [nvarchar](10) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MASTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MASTER](
	[CODE] [nvarchar](30) NULL,
	[DTYPE] [tinyint] NULL,
	[DOCUMENT NAME] [nvarchar](40) NULL,
	[DATE CREATED] [datetime] NULL,
	[DATE LAST MODIFIED] [datetime] NULL,
	[DATE REQUESTED] [datetime] NULL,
	[DATE SEND] [datetime] NULL,
	[LAST MODIFIED BY] [nvarchar](25) NULL,
	[LOGID DESCRIPTION] [nvarchar](40) NULL,
	[REMARKS] [nvarchar](50) NULL,
	[USER NO] [int] NULL,
	[A1] [nvarchar](4) NULL,
	[A3/A2] [nvarchar](7) NULL,
	[A4] [nvarchar](3) NULL,
	[A5] [nvarchar](1) NULL,
	[A7/A6] [nvarchar](3) NULL,
	[A8/A7] [nvarchar](3) NULL,
	[B1] [nvarchar](26) NULL,
	[B2] [nvarchar](29) NULL,
	[B3] [nvarchar](2) NULL,
	[B6/B4] [nvarchar](21) NULL,
	[B7/B5] [nvarchar](4) NULL,
	[B8/B6] [nvarchar](1) NULL,
	[C1] [nvarchar](3) NULL,
	[C2] [nvarchar](3) NULL,
	[D1] [nvarchar](7) NULL,
	[D3/D2] [nvarchar](13) NULL,
	[D5/D4] [nvarchar](1) NULL,
	[D6/D5] [nvarchar](2) NULL,
	[D8/D6] [nvarchar](11) NULL,
	[E2/C4] [nvarchar](6) NULL,
	[F1] [nvarchar](5) NULL,
	[F2] [nvarchar](5) NULL,
	[F3] [nvarchar](5) NULL,
	[G1] [nvarchar](7) NULL,
	[G2] [nvarchar](7) NULL,
	[G3] [nvarchar](7) NULL,
	[H1] [nvarchar](6) NULL,
	[H2] [nvarchar](6) NULL,
	[H3] [nvarchar](6) NULL,
	[K1] [nvarchar](22) NULL,
	[K2] [nvarchar](6) NULL,
	[K3] [nvarchar](2) NULL,
	[K4] [nvarchar](6) NULL,
	[K5] [nvarchar](2) NULL,
	[K6] [nvarchar](6) NULL,
	[U1] [nvarchar](65) NULL,
	[U2] [nvarchar](32) NULL,
	[U3] [nvarchar](24) NULL,
	[U4] [nvarchar](4) NULL,
	[U5] [nvarchar](6) NULL,
	[L1] [nvarchar](13) NULL,
	[M1] [nvarchar](12) NULL,
	[M2] [nvarchar](12) NULL,
	[M3] [nvarchar](2) NULL,
	[M4] [nvarchar](12) NULL,
	[M8/M6] [nvarchar](13) NULL,
	[M9/M7] [nvarchar](6) NULL,
	[N1] [nvarchar](5) NULL,
	[N2] [nvarchar](5) NULL,
	[N3] [nvarchar](5) NULL,
	[O1] [nvarchar](7) NULL,
	[O2] [nvarchar](7) NULL,
	[O3] [nvarchar](7) NULL,
	[P1] [nvarchar](6) NULL,
	[P2] [nvarchar](6) NULL,
	[P3] [nvarchar](6) NULL,
	[Q1] [nvarchar](12) NULL,
	[Q2] [nvarchar](12) NULL,
	[Q3] [nvarchar](12) NULL,
	[S1] [nvarchar](78) NULL,
	[T1] [nvarchar](55) NULL,
	[T2] [nvarchar](6) NULL,
	[T3] [nvarchar](22) NULL,
	[T4] [nvarchar](19) NULL,
	[T5] [nvarchar](4) NULL,
	[T6/S3] [nvarchar](6) NULL,
	[T7] [nvarchar](1) NULL,
	[ACCT WEEK] [nvarchar](4) NULL,
	[ADDITIONAL COST] [nvarchar](50) NULL,
	[BASIS FOR VAT] [nvarchar](14) NULL,
	[CUSTOMS OFFICE] [nvarchar](2) NULL,
	[CUSTOMS VALUE] [nvarchar](14) NULL,
	[DOC NUMBER] [nvarchar](35) NULL,
	[DOC TYPE] [nvarchar](3) NULL,
	[Error String] [nvarchar](max) NULL,
	[Error HD] [nvarchar](10) NULL,
	[DUTIES TAXES P1] [nvarchar](17) NULL,
	[DUTIES TAXES P2] [nvarchar](17) NULL,
	[DUTIES TAXES P3] [nvarchar](17) NULL,
	[DUTIES TAXES P4] [nvarchar](17) NULL,
	[DUTIES TAXES P5] [nvarchar](17) NULL,
	[DUTIES TAXES P6] [nvarchar](17) NULL,
	[DUTIES TAXES P7] [nvarchar](17) NULL,
	[DUTIES TAXES P8] [nvarchar](14) NULL,
	[DUTIES TAXES B1] [nvarchar](50) NULL,
	[DUTIES TAXES B2] [nvarchar](50) NULL,
	[DUTIES TAXES B3] [nvarchar](50) NULL,
	[DUTIES TAXES B4] [nvarchar](50) NULL,
	[DUTIES TAXES B5] [nvarchar](50) NULL,
	[DUTIES TAXES B6] [nvarchar](50) NULL,
	[DUTIES TAXES B7] [nvarchar](50) NULL,
	[DUTIES TAXES B8] [nvarchar](50) NULL,
	[Type] [nvarchar](1) NULL,
	[COMM] [nvarchar](1) NULL,
	[LOGID] [nvarchar](4) NULL,
	[PRINT] [nvarchar](1) NULL,
	[VIEWED] [tinyint] NULL,
	[USERNAME] [nvarchar](25) NULL,
	[HEADER] [smallint] NULL,
	[Code P1] [nvarchar](3) NULL,
	[Code P2] [nvarchar](3) NULL,
	[Code P3] [nvarchar](3) NULL,
	[Code P4] [nvarchar](3) NULL,
	[Code P5] [nvarchar](3) NULL,
	[Code P6] [nvarchar](3) NULL,
	[Code P7] [nvarchar](3) NULL,
	[Code P8] [nvarchar](3) NULL,
	[Code B1] [nvarchar](3) NULL,
	[Code B2] [nvarchar](3) NULL,
	[Code B3] [nvarchar](3) NULL,
	[Code B4] [nvarchar](3) NULL,
	[Code B5] [nvarchar](3) NULL,
	[Code B6] [nvarchar](3) NULL,
	[Code B7] [nvarchar](3) NULL,
	[Code B8] [nvarchar](3) NULL,
	[Memo Field] [nvarchar](max) NULL,
	[DATE PRINTED] [datetime] NULL,
	[PRINTED BY] [nvarchar](25) NULL,
	[REMOTE_ID] [int] NULL,
	[Mail_Recipients] [nvarchar](max) NULL,
	[Master_DeleteSourceTreeID] [nvarchar](50) NULL,
	[Tree ID] [nvarchar](50) NULL,
	[Origin] [nvarchar](50) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DBProperties]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DBProperties](
	[DBProps_Version] [nvarchar](20) NULL,
	[DBProps_Date] [datetime] NULL,
	[DBProps_Exe_Date] [datetime] NULL,
	[DBProps_PerformUpdates_Completed] [bit] NOT NULL CONSTRAINT [DF_DBPROPERTIES_PERFORMUPDATES_COMPLETED]  DEFAULT ((0))
) ON [PRIMARY]
END
GO
